#recipe_card_container {
  width: calc(3 * (300px) + 6rem);
  height: 100%;
  margin: 0 auto;
}
@media screen and (max-width: 1100px) {
  #recipe_card_container {
    width: calc(2 * (300px) + 4rem);
  }
}

@media screen and (max-width: 750px) {
  #recipe_card_container {
    width: calc(300px + 2rem);
  }
}
