#top_nav_container {
  width: 100%;
  background: #282c34;
  height: 4rem;
  display: flex;
  justify-content: space-between;
}
#top_nav_container > * {
  color: #fff;
  line-height: 2rem;
  margin: 1rem;
  font-size: 36px;
  flex-grow: 1;
}

#top_nav_menu_button {
  display: flex;
  justify-content: flex-start;
  cursor: pointer;
}

#top_nav_search_container {
  line-height: 2rem;
  display: flex;
  justify-content: center;
  flex-flow: row nowrap;
  flex-grow: 3;
}

#top_nav_search {
  background: #282c34;
  border: none;
  color: #fff;
  font-size: 18px;
  line-height: 24px;
  margin-left: .5rem;
  flex-grow: 2;
}
#top_nav_search:focus {
  outline: none;
  border-bottom: 1px solid #fff;
}

#top_nav_account_button {
  display: flex;
  justify-content: flex-end;
}
